@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.max-with {
    max-width: 1140px;
    margin: auto;
}
.margin{
    margin: 0px;
}
.line-w {
    width: 92%;
}
.list:hover {
background-color: #eaeaea;
}
.drpdown {
    height: 70px;
}